*.scss
*.scss~
y_screen.css
hosts.py
*.pyc
*.py~
*.html~
*.swp
*.*~
\#*.*
.\#*.*
.gitignore
djsecrets.py
links.db
twitter_creds.py
/a/mattdeboard.net/yukproj/oauth_provider/
fixtures/
yuk/oauth.py
yukimport/
yuk/migrations/
yuk/whoosh/*
/a/mattdeboard.net/yukproj/yuk/migrations/
srchupdate.py

