{% extends 'base.html' %}
{% load taggit_extras %}
{% load timesince %}
{% block header %}
{% endblock header %}
{% block content %}
{% url yuk.views.profile uname=user as profile_url %}
{% if messages %}
<div id="messages" class="span-16 append-bottom last">
  
  {% for message in messages %}
<h8{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
</h8>
  {% endfor %}

</div><!-- #messages -->
{% endif %}
{% for result in results %}
  {% if result.object.url_name %}
<div id="{{ result.object.url_id }}" class="span-13 prepend-top append-3 last">
    <h3>
      <a href="{{ result.object.url }}" target="_blank" class="link">
{{ result.object.url_name }}</a>
    </h3>
  {% else %}
  <div id="{{ result.object.url_id }}" class="span-13 append-3 last">
    <h3>
      <a href="{{ result.object.url }}" target="_blank" class="link">
{{ result.object.url_name}}</a>
    </h3>
  {% endif %}

<div id="tags" class="span-16 last">{% for tag in result.object.tags.all %}
<a class="tags" href="{% url yuk.views.profile uname=user %}t:{{ tag.slug }}">
{{ tag.name }}</a>
{% endfor %}
</div> <!-- End div#tags --></h5>
<div id="description" class="span-16 last">{{ result.object.url_desc }}
</div><!-- #description -->
{% url yuk.views.edit_url uname=user url_id=result.object.id as edit_url %}
{% url yuk.views.del_url uname=user url_id=result.object.id as del_url %}
<div id="entry_info" class="span-16 last">
  <div id="date_created" class="span-6 append-2">
  {{ result.object.date_created|timedelta }}
  </div><!-- #date_created -->

{% if user = result.object.user %}
  <div id="modify" class="span-6 append-2 last">
    <span class="edit">
  <a class="modify" id="edit" href="{{ edit_url }}">edit</a> | 
<a class="delete" id="{{ result.object.id }}" href="#">delete</a>
    </span>
  </div><!-- #modify -->
{% endif %}

{% if not forloop.last %}
<!-- Blueprint doesn't seem to like it if you put the class properties into the 
hr control.-->
<div id="hr" class="span-10 prepend-3 append-3 prepend-top"><hr />
</div><!-- #hr -->
{% endif %}
</div><!-- #entry_info -->
</div><!-- {# result.id #} -->
{% endfor %}
{% url yuk.views.profile uname=user.username as the_url %}
<a href="{{ the_url }}" class="span-4 positive last button">Return to profile
</a>
{% endblock content %}
       
