{% extends 'base.html' %}
{% block content %}
{% url django.contrib.auth.views.login as do_login %}
{% url registration_register as reg %}
{% if messages %}
<div id="messages" class="span-16 prepend-top last warning">
  
  {% for message in messages %}
<h8{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h8>
  {% endfor %}

</div><!-- #messages -->
{% endif %}
<div class="span-16 prepend-top">
<form method="POST" action="." id="login">{% csrf_token %}
{% for item in form %}
<span class="span-4">{{ item.label }}</span><span class="span-12 last">{{ item }}</span>
{% endfor %}
<a href="#" id="submit" class="link push-5">Submit</a></h3></span></div>
</form>
</div><!-- End div#auth_form -->
{% endblock content %}



