{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
<div id="errors" class="span-16 prepend-top last warning">
  
  {% for error in form.errors %}
<div class="error">{{ error }}</div>
  {% endfor %}
{% endif %}

</div><!-- #messages -->
<div class="span-16 prepend-top">
<form method="POST" action=".">{% csrf_token %}
{% for item in form %}
<span class="span-4">{{ item.label }}</span><span class="span-12 last">{{ item }}</span>
{% endfor %}
<button type="submit" class="button span-4 positive">Register
</form>
{% endblock %}
