{% url django.contrib.auth.views.logout as logout_url %}
{% url yuk.views.profile uname=user as the_url %}
{% url yuk.views.rss_import as rss_import %}
<html>
<head>
<link rel="stylesheet" href="/site_media/style.css" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SVv8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g" type="text/javascript"></script>
<script type="text/javascript">
google.load("search", "1");
google.load("jquery", "1.5.0");
google.load("jqueryui", "1.8.9");
google.setOnLoadCallback(function() {
	$(function () {
 				
		$("a.confirm#del_conf_false").live("click",function () {
            $("span.hconf").replaceWith($("<a class='delete' id="+$(this).attr('u')+" href='#'>delete</a>"))
            return false;
		})
				
		$("a.confirm#del_conf_true").live("click", function () {
			$("li#"+$(this).attr("u")).hide();			
			$.post("/u:"+$("span.username").text()+"/delete/", 
			{ url_id:$("#del_conf_false").attr("u"), uname:$("span.username").text()}
            );
            return false;
		})
			
		$("a.delete").live("click", function () {
			var id = $(this).attr("id")
            $(this).replaceWith(confirm_string(id));
            return false;
		})
		
		function confirm_string(id) {
			var conf = "<span class='hconf' style>Are you sure? <a class='confirm' u='" + id + "' id='del_conf_true' href='#'>yes</a> | <a class='confirm' u='" + id + "' id='del_conf_false' href='#'>no</a></span>"
			return conf
		}
	})
})	
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<title>Yuk!{% block title %}{% endblock %}</title>
<body>
<div id="bg"></div>
<div id="wrapper">
<div id="header_bg"><div id="header" class="box_round_head">
        <a href="{{ site_url }}"><h1>Yuk!</h1></a>
</div></div>
{% with yukproj.settings.SITE_URL as site %}
{{ site }}
{% endwith %}
<div id="menu">
<a class="bookmarklet"
    href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://yuk.mattdeboard.net/new_url?&url='+encodeURIComponent(q)+'&description='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'Yuk!',%20'toolbar=no,width=700,height=425'));">Yuk!
popup</a>
<a href="{{ logout_url }}" class="linkhead">logout</a> <span class="arrow">&raquo;</span>
<a href="{{ the_url }}new_url" class="linkhead">add url</a> <span class="arrow">&raquo;</span>
<a href="{{ the_url }}import_rss" class="linkhead">import rss feed</a>
</div> <!-- End div#menu -->
<div id="main">
{% block content %}
{% endblock content %}
</div><!-- End of div#main -->
</div><!-- End of div#wrapper -->
</body>
</html>
