{% url django.contrib.auth.views.logout_then_login as logout_url %}
{% url yuk.views.profile uname=user as the_url %}
{% url yuk.views.rss_import as rss_import %}
{% url yuk.views.new_url as new_bookmark %}
{% url yuk.views.export as export_url %}
{% url yuk.views.import_text as import_url %}
{% url yuk.views.new_note as new_note %}
{% url yuk.views.new_quote as new_quote %}
<html>
<head>
<script type="text/javascript">
var username = "{{ user.username }}";
</script>
<link href="http://fonts.googleapis.com/css?family=Permanent+Marker" 
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ blueprint_path }}screen.css" type="text/css" 
      media="screen, projection">
<link rel="stylesheet" href="{{ blueprint_path }}print.css" type="text/css" 
      media="print">
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" 
media="screen, projection">
<![endif]-->
</head>
<title>Yuk!{% block title %}{% endblock %}</title>
<body>
<div id="header">
<div id="subheader">
<div class="container">
<a href="{{ site_url }}" class="span-3"><h1 class="logo">Yuk!</h1></a>
<div id="site-nav" class="span-16 push-5 prepend-top">
{% if user.id %}
<a href="{{ new_note }}" class="linkhead">add note</a>
<span class="arrow">&raquo;</span>
<a href="{{ new_quote }}" class="linkhead">add quote</a> 
<span class="arrow">&raquo;</span>
<a href="{{ new_bookmark }}" class="linkhead">add url</a> 
<span class="arrow">&raquo;</span>
<a href="{{ the_url }}import_rss" class="linkhead">import rss feed</a>
 <span class="arrow">&raquo;</span>
<a href="{{ import_url }}" class="linkhead">import from file</a> 
<span class="arrow">&raquo;</span>
<a href="{{ export_url }}" class="linkhead">export</a> 
<span class="arrow">&raquo;</span>
<a href="{{ logout_url }}" class="linkhead">logout</a> 
<span class="arrow">&raquo;</span>
</div><!-- #site_nav -->
{% else %}
<a href="{% url yuk.views.login %}" class="linkhead">login</a><span 
class="arrow">&raquo;</span>
<a href="{{ site_url }}/accounts/register/" class="linkhead">register</a><span 
class="arrow">&raquo;</span>
</div><!-- #site_nav -->
{% endif %}
</div></div></div>
<div id="body" class="container">
<div id="content" class="span-16 last">
{% block content %}
{% endblock content %}
</div><!-- #main -->
<div id="side" class="span-8 last">
{% if user.is_authenticated %}
<form method="POST" action="{% url yuk.views.search_results %}" class="search">
{% csrf_token %}
{% for item in search_form %}
  <div class="span-8 last">{{ item }}</div>
{% endfor %}
<div class="span-8 last append-bottom prepend-2">
<h3><a href="#" id="submit" class="link">Search Tags</a></h3>
</div>
</form>
  <hr class="span-4 prepend-2 append-2 append-bottom"/>
 <div class="span-8 last">
Use the Yuk! bookmarklet to add links to your Yuk! profile from anywhere. Just click it to save the URL of your current page. Click and drag the bookmarklet below to your browser's bookmark bar:
  <div class="span-6 prepend-2 append-2 last"><a class="button negative"
    href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://yukmarks.com/add_bookmark_remote?&url='+encodeURIComponent(q)+'&description='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'Yuk!',%20'toolbar=no,width=660,height=455'));">Yuk! popup</a></div>
 </div>
{% else %}
<div class="span-8 last prepend-top append-bottom prepend-2">
<h3>Some website functionality, like tag filtering, will not work unless you're logged in as a registered user! It's easy to register, so what are you waiting for?</h3>
<div class="span-6 prepend-2 append-2 last"><a class="button negative" href="/accounts/register/">Register!</a></div>
</div>
{% endif %}
</div><!-- #side -->
</div><!-- .container#body -->
</body>
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SVv8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g" type="text/javascript"></script>
<script type="text/javascript">
google.load("search", "1");
google.load("jquery", "1.5.0");
google.load("jqueryui", "1.8.9");
google.setOnLoadCallback(function() {
	$(function () { 
	    	
	    // Javascript for form submission
	    $("a#submit").live("click", function () {
		$("form").submit();
	    });
	    
	    // Below here is the javascript for the Delete/Are you sure dialogue
	    $("a.confirm#del_conf_false").live("click",function () {
		$("span.hconf").replaceWith(
		    $("<a class='delete' id="+$(this).attr('u')+
		      " href='#'>delete</a>"));
		 return false;
		});
				
	    $("a.confirm#del_conf_true").live("click", function () {
		$("div#"+$(this).attr("u")).hide();			
		$.post("/u:"+username+"/delete/", 
		       { item_id:$("#del_conf_false").attr("u"), 
			 uname:username}
		      );
		return false;
	    });
			
	    $("a.delete").live("click", function () {
		var id = $(this).attr("id");
		$(this).replaceWith(confirm_string(id));
		return false;
		});
		
	    function confirm_string(id) {
		var conf = "<span class='hconf' style>Are you sure? <a class='confirm' u='" + id + "' id='del_conf_true' href='#'>yes</a> | <a class='confirm' u='" + id + "' id='del_conf_false' href='#'>no</a></span>";
		return conf;
	    }
	});
});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
