<html>
<head>
<link href="http://fonts.googleapis.com/css?family=Permanent+Marker" 
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ blueprint_path }}screen.css" type="text/css" 
      media="screen, projection">
<link rel="stylesheet" href="{{ blueprint_path }}print.css" type="text/css" 
      media="print">
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen
, projection">
<![endif]-->
</head>
<title>Yuk!</title>
<body>
<div id="body" class="container">
{% block content %}
<form method="POST" class="span-16" action="/add_bookmark_remote/">
{% csrf_token %}
<legend><h2>new bookmark:</h2></legend>
{% for item in form %}
{% for error in item.errors %}
<div class="span-13 error">{{ error }}</div>
{% endfor %}
<div class="span-4">{{ item.label }}</div>
<div class="span-12 last">{{ item }}</div>
{% endfor %}
<input class="span-4 prepend-6 last" type="submit" id="add" 
       value="Add Bookmark">
</form>
{% endblock content %}
</div><!-- #body .container -->
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-2']);
  _gaq.push(['_trackPageview']);

  (function() 
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

