<html>
<head>
<link href="http://fonts.googleapis.com/css?family=Permanent+Marker" 
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ blueprint_path }}screen.css" type="text/css" 
      media="screen, projection">
<link rel="stylesheet" href="{{ blueprint_path }}print.css" type="text/css" 
      media="print">
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen
, projection">
<![endif]-->
</head>
<title>Yuk!</title>
<body>
<div id="body" class="container">
<form method="POST" class="span-16 prepend-top" action="/add_bookmark_remote/">
{% csrf_token %}
<legend><h2>new bookmark:</h2></legend>
{% for item in form %}
{% if item.html_name in text_areas %}
<div class="span-4">{{ item.errors }}{{ item.label }}</div>
<div class="span-12 last">{{ item }}</div>
{% else %}
<div class="span-4">{{ item.errors }}{{ item.label }}</div>
<div class="span-12 last">{{ item }}</div>
{% endif %}	
{% endfor %}
<input class="span-4 prepend-6 last" type="submit" id="add" 
       value="Add Bookmark">
</div><!-- #body .container -->
</body>
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SV
	     v8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g"
	type="text/javascript"></script>
<script type="text/javascript">
google.load("search", "1");
google.load("jquery", "1.5.0");
google.load("jqueryui", "1.8.9");

google.setOnLoadCallback(function() {
    $(function () {
        })
    })

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-2']);
  _gaq.push(['_trackPageview']);

  (function() 
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

