{% extends 'user_profile.html' %}
{% block title %}
 - Edit URL
{% endblock title %}
{% block content %}
<div id="userheader">
edit url:
</div>
<form method="POST" action=".">{% csrf_token %}
	{% for item in form %}
		{% if item.label != "Description (max 500 chars):" %}
        <div class="row">{{ item.errors }}<label class='column1'>{{ item.label }}</label> <span class='column2'>{{ item }}</span></div>
		{% else %}
        <div class="row">{{ item.errors }}<label class='col1description'>{{ item.label }}</label> <span class='col2description'>{{ item }}</span></div>
		{% endif %}	
	{% endfor %}
{% url yuk.views.profile uname=user as the_url %}
	<div class="row"><label class="column1"></label><span class="column2"><input type="submit" value="Go"></span></div>
	<div class="row"><label class="column1"></label><span class="column2"><a class="link" href="{{ the_url }}">Return to profile</a></span></div>
</form>
{% endblock content %}
