<html>
<head>
<link rel="stylesheet" href="/site_media/style.css" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SVv8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="bg"></div>
<div id="landing">
<div id="header_bg"><div id="header" class="box_round_head">
<h1>Yuk!</h1>
</div></div>

<div id="menu">
<a href="/about" class="linkhead">about</a> <span class="arrow">&raquo;</span>
<a href="/why" class="linkhead">why yuk?</a> <span class="arrow">&raquo;</span>
</div> <!-- End div#menu -->
<div id="auth_main"><!-- Container div for all auth activities: login, logout, registration, plus landing page -->
{% block auth_action %}
{% endblock auth_action %}
</div><!-- End div#main -->
</div> <!-- End div#landing -->
</body>
</html>



