<html>
<head>
<link rel="stylesheet" href="/site_media/style.css" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SVv8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g" type="text/javascript"></script>
</head>
<body>
<div id="bg"></div><div id="landing">
<div id="header_bg"><div id="header" class="box_round_head">
<h1>Yuk!</h1>
</div></div>

<div id="menu">
<a href="/about" class="linkhead">about</a>
<a href="/why" class="linkhead">why yuk?</a>
</div> <!-- End div#menu -->
{% block auth_action %}
{% endblock auth_action %}
</body>
</html>



