<html>
{% url django.contrib.auth.views.logout as logout_url %}
<head><a href="{{ logout_url }}">Logout</a>
{% url yuk.views.new_url as new_url_url %}
<div id="submit_button"><a href="{{ new_url_url }}new_url">Submit</a></div>
<ol>
<div id="urls">
{% for i in urls %}
		<li><p><a class='url' href="{{ i }}" target="_blank">{{ i.url_name }}</a></p>
		<div id='tags'><p><font size="2">(tags: {% for tag in i.tags %} {% url yuk.views.tag_detail tag=tag uname=user as tag_href %} <a class='tag' href='{{ tag_href }}'>{{ tag.name }}</a> {% endfor %})</font></p></div>
		<div id='description'><p>{{ i.url_desc }}</p></div></li>
{% endfor %}
</ol>
</div>
{% block urlform %}
{% endblock %}
</html>