<html> 
<head>
<link href="http://fonts.googleapis.com/css?family=Permanent+Marker" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ blueprint_path }}screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{ blueprint_path }}print.css" type="text/css" media="print">
<!--[if lt IE 8]>
<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
</head>
<body> 
<div id="top">
<div id="stripe">
<div class="container">
<h1 class="lheader"> What's a yukmark?</h1>
<h2 class="about">A "yukmark" is a way to store the things you find on the internet quickly and painlessly. It's a lot like the bookmarks in your browser, but available from any computer, any browser, anywhere!</h2>

<h3 class="about">Features:
<li>URL bookmarks with comprehensive tagging</li>
<li>Note-taking</li>
<li>Quote storage</li>
</p></h3>
</div><!-- .container -->
</div></div>
<div class="container prepend-top">
<div id="login" class="span-8">
<form method="POST" action="{% url yuk.views.login %}" id="login">{% csrf_token %}
<label class="span-8"><h3 class="accentheader">Login</h3></label>
<span class="span-4">Username:</span><span class="span-4"><input id="id_username" type="text" name="username" maxlength="30" /></span>
<span class="span-4">Password:</span><span class="span-4"><input id="id_username" type="password" name="password" id="id_password" maxlength="30" /></span>
<button class="button span-4 positive" type="submit"/>Submit</span>
</form>
</div><!-- #login -->
<div id="register" class="span-8">
<form method="POST" action="/accounts/register/" id="regis">{% csrf_token %}
<label class="span-8"><h2 class="accentheader">Create an Account</h2> 
<span class="span-4">Username:</span><span class="span-4"><input id="id_username" type="text" name="username" maxlength="30" /></span>
<span class="span-4">E-mail:</span><span class="span-4"><input id="id_email" type="text" name="email" maxlength="30" /></span>
<span class="span-4">Password:</span><span class="span-4"><input id="id_password" type="password" name="password" maxlength="30" /></span>
<span class="span-4">Password Again:</span><span class="span-4"><input id="id_password" type="password" name="password2" maxlength="30" /></span>
<button class="button span-4 positive" type="submit">Register
</form>
</div><!-- #register -->
</div><!-- .container -->
</body> 
<script src="https://www.google.com/jsapi?key=ABQIAAAAws5SFy_Td_sCKRwTQoInCxQ2SVv8A922lr7cI-sZNmRbnWY-pRQhIslWrnc_suzQYtE2PWZ_EinY5g" type="text/javascript"></script> 
<script type="text/javascript">
google.load("search", "1");
google.load("jquery", "1.5.0");
google.load("jqueryui", "1.8.9");
google.setOnLoadCallback(function() {
	$(function () { 
	    	
	    // Javascript for form submission
	    $("a#submit").delegate("click", function () {
		$(this).submit();
	    });
    });
});
</script>
<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12348858-3']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script> 
</html> 
 
 
 
