{% extends 'user_profile.html' %}

{% block title %}
 - New {{ type }}
{% endblock %}
{% block content %}
<!--<div id="userheader" class="span-16 last">
new {{ type|lower }}:
</div>-->
<form id="new_item" class="prepend-top" method="POST" action=".">
{% csrf_token %}
{% for item in form %}
{% if item.errors %}
{% for error in item.errors %}
<div class="span-13 prepend-bottom error last">{{ error }}</div>
{% endfor %}
{% endif %}
  {% if item.html_name in text_areas %}
<div class="span-4"><h3>{{ item.label }}</h3></div>
<div class="span-12 last">{{ item }}</div>
  {% else %}
<div class="span-4"><h3>{{ item.label }}</h3></div>
<div class="span-12 last">{{ item }}</div>
  {% endif %}	
{% endfor %}

{% url yuk.views.profile uname=user.username as the_url %}
<button type="submit" class="span-4 append-10 positive">Save {{ type }}
</button>
<a href="{{ the_url }}" class="span-4 positive last button">Return to profile
</a>
<div class="span-6"></div>
</form>
{% endblock %}
