{% extends 'user_profile.html' %}

{% block title %}
 - New {{ type }}
{% endblock %}
{% block content %}
<!--<div id="userheader" class="span-16 last">
new {{ type|lower }}:
</div>-->
<form id="new_item" method="POST" action=".">{% csrf_token %}
{% for item in form %}
  {% if item.html_name in text_areas %}
<div class="span-4">{{ item.errors }}{{ item.label }}</div>
<div class="span-12 last">{{ item }}</div>
  {% else %}
<div class="span-4">{{ item.errors }}{{ item.label }}</div>
<div class="span-12 last">{{ item }}</div>
  {% endif %}	
{% endfor %}

{% url yuk.views.profile uname=user.username as the_url %}
<div class="showgrid"><div class="span-6"></div>
<div class="span-4"><label class="column1"></label><span class="column2"><input type="submit" value="Save {{ type }}"></span></div>
<div class="span-6"></div>
<div class="span-6"></div>
<div class="span-4"><label class="column1"></label><span class="column2"><a class="link" href="{{ the_url }}">Return to profile</a></span></div>
<div class="span-6"></div></div>
</form>
{% endblock %}
