{% extends 'base.html' %}

{% load taggit_extras %}
{% get_taglist as tags for yuk.Url %}
{% for tag in tags %}
{{tag}}
{% endfor %}
{% block header %}
{% url django.contrib.auth.views.logout as logout_url %}
{% url yuk.views.new_url as new_url_url %}
<div id="header"><a href="{{ logout_url }}">logout</a> | <a href="{{ new_url_url }}new_url">add url</a></div>
{% endblock header %}
{% block content %}
{% block urlform %}
<div id='title_banner'>Saved URLs for <span class="username">{{ user }}</span></div>
<ol>
<div id="urls">

{% for i in urls %}
<div class="item" id="{{ i.id }}">
	{% if i.url_name %}
		<li><p><a class='url' href="{{ i }}" target="_blank">{{ i.url_name }}</a></p>
	{% else %}
		<li><p><a class='url' href="{{ i }}" target="_blank">{{ i }}</a></p>
	{% endif %}
	{% url yuk.views.profile uname=user as the_url %}
		<div id='tags'><p><font size="2">(tags: {% for tag in i.tags.all %}<a class='tag' href='{{ the_url }}t:{{ tag.slug }}'>{{ tag.name }}</a> {% endfor %})</font></p></div>
		<div id='description'><p>{{ i.url_desc }}</p></div></li>
		
		{% url yuk.views.edit_url uname=user url_id=i.id as edit_url %}
		{% url yuk.views.del_url uname=user url_id=i.id as del_url %}
		<div id='modify'><a class='modify' id="edit" href='{{ edit_url }}'>edit</a> | <a class='delete' id="{{ i.id }}" href='#'>delete</a></div></div>
		

{% endfor %}
</div>
</ol>
{% block modify %}
{% endblock modify %}
</div>
{% endblock urlform %}
{% endblock content %}
